[MASTER]
# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code.
extension-pkg-allow-list=

# Specify a score threshold to be exceeded before program exits with error.
fail-under=5.0

# Add files or directories to the blacklist. They should be base names, not
# paths.
ignore=CVS

# Add files or directories matching the regex patterns to the blacklist. The
# regex matches against base names, not paths.
ignore-patterns=

# Python code to execute, usually for sys.path manipulation such as
# pygtk.require().
#init-hook=

# Use multiple processes to speed up Pylint. Specifying 0 will auto-detect the
# number of processors available to use.
jobs=1

# Control the amount of potential inferred values when inferring a single
# object. This can help the performance when dealing with large functions or
# complex, nested conditions.
limit-inference-results=100

# List of plugins (as comma separated). Plugins are modules names not files
# names.
load-plugins=

# Pickle collected data for later comparisons.
persistent=yes

# Minimum Python version to target. Used for version dependent checks and
# misfeature detection.
py-version=3.12

# When enabled, pylint would attempt to guess common misconfiguration and emit
# user-friendly hints instead of false-positive error messages.
suggestion-mode=yes

[MESSAGES CONTROL]
# Only show warnings with the listed confidence levels. Leave empty to show
# all. Valid levels: HIGH, INFERENCE, INFERENCE_FAILURE, UNDEFINED.
confidence=

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this
# option multiple times (only on the command line, not in the configuration
# file where it should appear only once). You can also use "--disable=all" to
# disable everything first and then reenable specific checks. For example, if
# you want to run only the similarities checker, you can use "--disable=all
# --enable=similarities". If you want to run only the classes checker, but have
# no Warning level messages displayed, use "--disable=all --enable=classes
# --disable=W".
disable=
    raw-checker-failed,
    bad-inline-option-value,
    locally-disabled,
    file-ignored,
    suppressed-message,
    useless-suppression,
    deprecated-pragma,
    use-symbolic-message,
    missing-module-docstring,
    too-few-public-methods,
    too-many-arguments,

[REPORTS]
# Set the output format. Available formats are text, parseable, colorized, msvs
# (visual studio) and html. You can also give a reporter class e.g. mypackagename.
# mipackage.MyReporterClass --output-format=html.
output-format=text

# Tells whether to display a full report or only the messages.
reports=no

# Activate the evaluation score.
score=yes

[REFACTORING]
# Maximum number of nested blocks for function / method body
max-nested-blocks=5

# Complete name of functions that never returns. When checking for
# inconsistent-return-statements if a never returning function is called then
# it will be considered as an explicit return statement and no message will be
# printed.
never-returning-functions=sys.exit,argparse.ArgumentTypeError

[FORMAT]
# Expected format of line ending, especially useful when checking scripts as
# they are python files that can be executed directly as scripts.
expected-line-ending-type=LF

# Regexp for a line that is allowed to be longer than the limit.
ignore-long-lines=^\s*(# )?<?https?://\S+>?$

# Number of spaces of indent required inside a hanging or continued line.
indent-after-paren=4

# String used as indentation unit. This is usually "    " (4 spaces) or "\t" (1
# tab).
indent-string='    '

# Maximum number of characters on a single line.
max-line-length=120

[LOGGING]
# The type of string formatting that logging methods do. `old` for %
# formatting, `new` for `{}` formatting and `fstring` for f-strings.
logging-format-style=old

# Logging modules to check that the string format arguments are in logging
# function parameter format.
logging-modules=logging

[SIMILARITIES]
# Comments are removed from the similarity computation
ignore-comments=yes

# Docstrings are removed from the similarity computation
ignore-docstrings=yes

# Imports are removed from the similarity computation
ignore-imports=yes

# Ignore similarity between imports.
ignore-signatures=no

# Minimum lines number d for functions/classes considered as having too many
# duplicate lines.
min-similarity-lines=4

[DESIGN]
# List of regular expressions of class ancestor names to ignore when trying to
# avoid duplicated code. You can only control this through the command line.
exclude-too-few-public-methods=

# List of qualified class names to which some of the rules in the Design
# checker shouldn't be applied. It's used for example to not trigger the
# too-many-public-methods on third party classes.
ignored-classes=optparse.Values,thread._local,_thread._local

# List of method names used to declare an abstract method. The naming style of
# these function names should be in lower case mixed or lower case.
abstract-method-names=abstractmethod

# Maximum number of arguments for function / method
max-arguments=5

# Maximum number of attributes for a class
max-attributes=7

# Maximum number of boolean expressions in an if statement
max-bool-expr=5

# Maximum number of branch for function / method body
max-branches=12

# Maximum number of locals for function / method body
max-locals=15

# Maximum number of parents for a class
max-parents=7

# Maximum number of public methods for a class
max-public-methods=20

# Maximum number of return / yield for function / method body
max-returns=6

# Minimum number of public methods for a class
min-public-methods=2
